/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '~angular-tree-component/dist/angular-tree-component.css';
//@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
//@import'../node_modules/flag-icon-css/css/flag-icon.min.css';
//@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    background:dodgerblue;
    padding: 0.4em;
    font-family: 'Raleway', 'Arial';
    color:black;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:black;
    text-decoration:none;
    
}
////-------tree--------////


